<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>ToDo-List</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main class="container">
        <div class="flex">
            <div class="box box-todo">
                <h1 class="box-date"><%= currentDate %></h1>
                <div class="box-form">
                    <form action="/" method="POST" autocomplete="off">
                        <div class="box-form__input">
                            <input type="text" id="todo" name="todo" autofocus>
                            <button>+</button>
                        </div>
                    </form>
                </div>
                <div class="box-list">
                    <% for (let task of tasks) { %>
                        <div class="box-list__item">
                            <div>
                                <form action="/<%= task._id %>" method="POST">
                                    <input type="checkbox" name="check" onchange="this.form.submit()" <%= task.checked ? "checked": ""%>>
                                    <p><%= task.text %></p>
                                </form>
                            </div>
                            <div>
                                <form action="/<%= task._id %>?_method=DELETE" method="POST">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="box box-timer">
                <div class="timer">
                    <div class="timer-output">00:00</div>
                    <div class="timer-btn">
                        <button class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>         
    </main>
    <script src="/js/timer.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>